<div class="jumbotron">
    <h1 class="animate__animated animate__backInLeft">SOBRE MI</h1>
    <p class="lead">Me llamo Jonathan Joseph Chalco Berrezueta, esta es mi primer sitio web construido con ayuda del
        framework ANGULAR, estudio en la universidad tecncia de Machala (UTMACH), la carrera de tecnologias de la informacion,
        y he desarrollado esta apgina con el fin de darles a conocer la diversa informacion que existe 
        sobre los superheroes hoy en dia, asi que solo les digo, disfruten jsjjsjs :)
    </p>
    <hr class="my-4">
    
    <img src="assets/img/sph.jpg">
        
    <p>&copy;Chalco Jonathan</p>

    <div class="u">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-whatsapp"></i>
    </div>
    
  </div>