<h1 class="animate__animated animate__bounce">Heroes <small>Marvel y DC</small></h1>
<hr>
<div class="row row-cols-md-3">
    <div class="col" *ngFor="let heroe of heroes; let i = index;">
      <!--variable local (heroe para todo el html) de (heroes <.ts> EDD) el tamanio (size) para el for sjjsjsj-->
        <!--cada iteracion, se guardara en (i)-->
        <div class="card mb-3">
            <img src= {{heroe.img}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{heroe.nombre}}</h5>
              <p class="card-text"> {{heroe.bio}}</p>
              <!--btn style boostrap gracias al class_name-->
              <!--evento (click) jsjs llama al metodo especificado-->
              <button (click) = "verHeroe(i)" type="button" class="btn btn-primary">Ver mas</button> 
              <p class="card-text"><small class="text-body-secondary">{{heroe.aparicion}}</small></p>
            </div>
          </div>

    </div>
</div>
